.App {
  text-align: center;
}

.imgContainer {
  width: 250px;
}

.productDetail {
  text-align: center;
}

.detailContent {
  display: flex;
  margin: 10px;
  padding: 10px;
}

.detailContent > section {
  margin-left: 20px;
}

.detailSide {
  display: flex;
  flex-direction: column;
}

.imgContainerDetail {
  width: 350px;
}

img {
  width: 100%;
}

.buttons {
  border-radius: 15px;
  border: 1px solid black;
  background: black;
  color: whitesmoke;
  font-size: 18px;
  margin: 10px;
}

.link {
  text-decoration: none;
  color: black;
}

.linkNum {
  margin-top: auto;
  margin-bottom: auto;
}

.navBar {
  /* margin-top: 0px; */
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 10px;
  align-content: center;
}

.title {
  font-size: 32px;
}
