.App {
  text-align: center;
}

.imgContainer {
  width: 250px;
}

.productDetail {
  text-align: center;
}

.detailContent {
  display: flex;
  margin: 10px;
  padding: 10px;
}

.detailContent > section {
  margin-left: 20px;
}

.detailSide {
  display: flex;
  flex-direction: column;
}

.imgContainerDetail {
  width: 350px;
}

img {
  width: 100%;
}
