.App {
  text-align: center;
}

.imgContainer {
  width: 250px;
}

.productDetail {
  text-align: center;
}

.detailContent {
  display: flex;
  margin: 10px;
  padding: 10px;
}

.detailContent > section {
  margin-left: 20px;
}

.detailSide {
  display: flex;
  flex-direction: column;
}

.imgContainerDetail {
  width: 350px;
}

img {
  width: 100%;
}

.buttons {
  border-radius: 15px;
  border: 1px solid black;
  background: black;
  color: whitesmoke;
  font-size: 18px;
  margin: 10px;
}

.link {
  text-decoration: none;
  color: black;
}

.linkNum {
  margin-top: auto;
  margin-bottom: auto;
}

.navBar {
  /* margin-top: 0px; */
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 10px;
  align-content: center;
}

.title {
  font-size: 32px;
}

.plantContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.plantCard {
  flex: 1 1 auto;
  flex-basis: 25%;
  padding: 1em;
  margin: 1em;
}

.filterSortBar {
  background-color: lightgray;
  padding: 1em;
  margin: 1em;
}

.filterSortContainer {
  display: flex;
}

.filterSortButton {
  border-radius: 15px;
  border: 1px solid black;
  background: black;
  color: whitesmoke;
  margin: 3px;
  padding: 3px;
  cursor: pointer;
}
.tagOnPlantCard {
  border-radius: 15px;
  border: 1px solid gray;
  background: whitesmoke;
  color: black;
  margin: 3px;
  padding: 3px;
  font-size: 0.75em;
}
